<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">

    </head>
    <body>
        

       <!-- Navigation -->
    <nav>
        <div class="logo">Student Travel Egypt</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/destinations">Destinations</a></li>
            <li><a href="/flights">Flights</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/auth/register" class="register-btn">Register</a></li>
            <li><a href="/auth/signin" class="signin-btn">Sign In</a></li>
            <li><a href="/booking" class="booking-btn">Book Now</a></li>
        </ul>

    </nav>

        <!-- Footer Section -->
      <footer class="footer">
        <div class="container">

            <div class="footer-column">
                <h3>Quick Links</h3>
                <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/destinations">Destinations</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/reviews">Reviews</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/contact">Contact</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>Extra Links</h3>
                <ul>
                    <li><a href="#">Ask Questions</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms Of Use</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>Contact Info</h3>
                <ul>
                    <li><i class="fas fa-phone"></i>010 02449889</li>
                    <li><i class="fas fa-envelope"></i> Shaikhanas@gmail.com</li>
                    <li><i class="fas fa-map-marker-alt"></i> 24 Al Bustan St, Bab Al Louq, Abdeen</li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>Follow Us</h3>
                <ul>
                    <li><a href="https://www.facebook.com/Student.travel.egypt"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
                </ul>
            </div>
        </div>
      </footer>
    </body>
</html>